<!DOCTYPE html>
<html>
    <head>
        <title>Students</title>
        <meta charset="utf-8"/>
    </head>
    <body>
        <h2>Students list </h2>
        {{>librarys}}
        <button><a href="/library/{{library_id}}/students/create">Add student</a></button>
        <table>
            <tr><th>Name</th><th>Surname</th><th>Phone</th><th>E-mail</th><th></th></tr>
            {{#each students}}
            <tr>
                <td>{{this.name}}</td>
                <td>{{this.surname}}</td>
                <td>{{this.phone}}</td>
                <td>{{this.email}}</td>
                <td><a href = "/library/{{this.id_library}}/students/edit/{{this.id}}">Edit</a></td>
                <td>
                    <form action="/library/{{this.id_library}}/students/delete/{{this.id}}", method="POST">
                        <input type="submit" value="Delete"/>
                    </form>
                </td>
                <td><a href="/library/{{this.id_library}}/students/{{this.id}}/book">List of takened books</a></td>
            </tr>
            {{/each}}
        </table>
        {{>footer}}
    </body>
</html>